.container {
	margin-top: 2rem;
	display: flex;
	flex-direction: column;
	gap: 3rem;
	padding: 0 1rem;
	color: #212529;
	max-height: 70vh;
	overflow: auto;
}

.empty {
	text-align: center;
	font-size: 1.6rem;
}
