.wrapper {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	gap: 3rem;
	margin-top: 3rem;
}

.picture {
	width: 100%;
	border-radius: 2rem;
}

.description {
	font-size: 1.6rem;
	line-height: 1.3;
}

@media (min-width: 48em) {
	.picture {
		width: 80%;
	}
}

@media (min-width: 62em) {
	.wrapper {
		display: grid;
		grid-template-columns: repeat(2, 1fr);
	}
	.picture {
		width: 80%;
	}

	.description {
		font-size: 1.6rem;
		line-height: 1.6;
	}
}
