.hero {
	display: flex;
	background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)),
		url('../../../assets/pizza-main.jpg');
	background-position: center;
	height: 91vh;
	background-size: cover;
}

.text {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	padding: 0 2rem;
	color: white;
	gap: 2rem;
}

.heading {
	font-size: 3.5rem;
	line-height: 1.3;
}

.paragraph {
	margin-top: 2rem;
	font-size: 2.5rem;
	line-height: 1.3;
}

.cta {
	margin-top: 1rem;
	padding: 1rem 2rem;
	border-radius: 2rem;
	font-size: 2rem;
	font-weight: 700;
	text-decoration: none;
	color: #111;
	background-color: #fff4e6;
}
