.controls {
	display: flex;
	justify-content: flex-end;
	gap: 2rem;
	font-size: 1.6rem;
}

.order {
	background-color: #ffe066;
}

.hidden {
	display: none;
}

.close,
.order {
	padding: 0.5rem 1rem;
	margin-bottom: 2rem;
	border: none;
	border-radius: 1rem;
	color: #040404;
	transition: background-color 0.3s;
	cursor: pointer;
}

.close:hover,
.order:hover {
	background-color: #ffd43b;
}
