.section {
	background-color: #fff4e6;
}

.container {
	display: grid;
	grid-template-columns: repeat(1, 1fr);
	gap: 2rem;
	margin-top: 3rem;
}

.chef,
.fresh,
.delivery {
	display: grid;
	align-items: center;
	justify-items: center;
	gap: 1.5rem;
	padding: 2rem;
}

.icon {
	font-size: 4rem;
	color: orange;
}

.title {
	font-size: 2rem;
}

.description {
	font-size: 1.6rem;
	line-height: 1.3;
}

@media (min-width: 62em) {
	.container {
		display: grid;
		grid-template-columns: repeat(3, 1fr);
		gap: 3rem;
		margin-top: 3rem;
	}

	.description {
		line-height: 1.6;
	}
}
