.pizza-wrapper {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.pizza-item {
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	gap: 0.3rem;
	width: 60%;
}

.pizza-name {
	text-transform: uppercase;
	font-weight: 700;
}

.pizza-description {
	line-height: 1.2;
}

.button {
	display: flex;
	justify-content: space-between;
	align-items: center;
	gap: 1rem;
	border: none;
	background-color: transparent;
	padding: 1rem 3rem;
	border-radius: 2rem;
	background-color: #fff4e6;
	font-size: 1.6rem;
}
