.item {
	display: grid;
	grid-template-columns: repeat(6, 1fr);
	justify-items: center;
	align-items: center;
	font-size: 1.8rem;
	transition: background-color 0.2s;
}

.icon {
	display: none;
}

.title {
	font-size: 1.6rem;
}

.button,
.delete {
	padding: 0.5rem 1rem;
	display: flex;
	flex-direction: column;
	align-items: center;
	border: none;
	font-size: 1.8rem;
	background-color: transparent;
	cursor: pointer;
}

.item:hover {
	background-color: #ffe066;
}
