.item {
	display: grid;
	grid-template-columns: repeat(6, 1fr);
	justify-items: center;
	align-items: center;
	font-size: 1.8rem;
	border-radius: 1rem;
	transition: background-color 0.2s;
}

.icon {
	display: none;
}

.title {
	font-size: 1.6rem;
}

.action {
	color: #040404;
}

.button,
.delete {
	padding: 0.5rem 1rem;
	display: flex;
	flex-direction: column;
	align-items: center;
	border: none;
	font-size: 1.8rem;
	background-color: transparent;
	cursor: pointer;
}

.item:hover {
	background-color: #ffe066;
}

@media (min-width: 62em) {
	.item {
		grid-template-columns: repeat(7, 1fr);
	}

	.icon {
		display: block;
		font-size: 2.5rem;
	}
}
