.wrapper {
	margin-bottom: 4rem;
	text-align: center;
}

.subtitle {
	text-transform: uppercase;
	font-size: 1.4rem;
	font-weight: 700;
}

.title {
	margin-top: 0.5rem;
	font-size: 3rem;
}

@media (min-width: 36em) {
	.wrapper {
		margin-bottom: 6rem;
	}
}

@media (min-width: 48em) {
	.wrapper {
		margin-bottom: 8rem;
	}
}
