.information {
	display: flex;
	justify-content: center;
	align-items: center;
}

.icon {
	font-size: 4rem;
	animation: spinner 5s infinite linear;
}

@keyframes spinner {
	0% {
		transform: rotate(0);
	}

	100% {
		transform: rotate(360deg);
	}
}
